<%= image_tag 'background.png', class:"background" %>
<div class="home_wrapper">
    <!-- <%= image_tag 'pika.gif', class:"pikachu_gif" %>
    <div class="welcome_container">
        <h1 class="">Welcome to the Pokemon Academy</h1>
    </div>

    <div class="statistics">
        <h2>Statistics</h2>
        Number of Courses: <%=@courses.length%><br>
        Number of Cohorts: <%=@cohorts.length%><br>
        Number of Instructors: <%=@instructors.length%><br>
        Number of Students: <%=@students.length%>
    </div> -->
</div>


