<% if @show %>
                    <div class="cohort_view show" id="cohort_<%= cohort.id %>">
                    <%@show=false%>
                <% else %>
                    <div class="cohort_view" id="cohort_<%= cohort.id %>">
                <%end %>
                    <h2><%= cohort.name %></h2>
                        <%= form_with model: cohort do |form| %>
                            Name: <%= form.text_field :name,  placeholder: "Cohort Name"%><br>
                            Start Date:<%= form.date_field :start_date,  placeholder: "Start date"%><br>
                            End Date:<%= form.date_field :end_date,  placeholder: "End date"%><br>
                            Course: <%= form.select :course_id,  options_for_select(@courses, @cohort.course_id)%><br>

                            <%= form.submit data: { confirm: 'Cohort updated' }%><br>
                        <!-- <%= link_to "Delete", @cohort, method: :delete, data: { confirm: "You sure?" } %> -->
                            <button type='button'> <%= link_to "Delete", cohort_path(cohort), method: :delete, remote: true, data: { confirm: "You sure?" } %></button><br>
                        <% end %>
                </div>