<%= @cohort.name%>

<%= form_with model: @cohort do |form| %>
  <%= form.text_field :name,  placeholder: "Cohort Name"%>
  <%= form.date_field :start_date,  placeholder: "Start date"%>
  <%= form.date_field :end_date,  placeholder: "End date"%>
  <%= form.select :course_id,  options_for_select(@courses, @cohort.course_id)%>

  <%= form.submit %>
<% end %>
<%= link_to "Delete", @cohort, method: :delete, data: { confirm: "You sure?" } %>

<h2>Add Students to Cohort</h2>
<%= form_with model StudentsCohort.new %>
<%= form.select(:students, [['Type A', 'Type A'],
                                  ['Type B', 'Type B'],
                                  ['Type C', 'Type C'],
                                  ['Type D', 'Type D'],
                                  ['Type E', 'Type E']
                                 ],{ :prompt => "Please select"},
                                   { :multiple => true, :size => 5 }
                                 ) %>

<!-- <h2>Course Options and ID</h2>
<% @courses.each do |course| %>
  <%= course.name %>   <%= course.id%><br>
<% end %> -->