<div class="cohorts_container">
    <div class="all_cohorts">
        <h2>List of Cohorts</h2>
            <% @cohorts.each do |cohort|%>
                <button type="button" onclick="displayCohort(<%=cohort.id%>)"> View </button>
                <%= cohort.name %><br>
            <% end %>
        <h2>Create New Cohort</h2>
        <%= form_with model: Cohort.new do |form| %>
        Name: <%= form.text_field :name,  placeholder: "Cohort Name"%><br>
        Start Date:<%= form.date_field :start_date,  placeholder: "Start date"%><br>
        End Date:<%= form.date_field :end_date,  placeholder: "End date"%><br>
        Course: <%= form.select :course_id,  options_for_select(@courses, @cohort.course_id)%><br>

        <%= form.submit %>
        <% end %>
    </div>

    <div class="edit_cohorts">
        <h1>View Cohorts</h1>
        <% @cohorts.each do |cohort| %>
            <div class="cohort_view" id="cohort_<%=cohort.id%>">
                <h2><%=cohort.name%></h2>
                <%= form_with model: cohort do |form| %>
                    Name: <%= form.text_field :name,  placeholder: "Cohort Name"%><br>
                    Start Date:<%= form.date_field :start_date,  placeholder: "Start date"%><br>
                    End Date:<%= form.date_field :end_date,  placeholder: "End date"%><br>
                    Course: <%= form.select :course_id,  options_for_select(@courses, @cohort.course_id)%><br>

                    <%= form.submit %>
                <%= link_to "Delete", @cohort, method: :delete, data: { confirm: "You sure?" } %>
                <% end %>
            </div>
        <% end %>
    </div>
    <div class="enrolled_students">
        <h2>Enrolled Students</h2>
        <% @cohorts.each do |cohort| %>
            <div class="students_cohorts_view" id="students_cohorts_<%=cohort.id%>">
                    <%puts "!!!!!!!!!!!!!!!!!!!!!!!!!!"%>
                    <%puts cohort.students %>
                    <% cohort.students.each do |student| %>
                        <%=student.first_name%><%=student.last_name%><br>
                    <% end %>
            </div>
        <% end %>
    </div>

</div>