<div class="background_container">
    <%= image_tag 'pikachu.jpg', class:'pikachu'%>
</div>

<div class="cohorts_container">
    <div class="all_cohorts">
        <h1>List of Cohorts</h1>
            <% @cohorts.each do |cohort|%>
            <span id="button_<%=cohort.id%>">
                <button type="button" class='no_border' onclick="displayCohort(<%=cohort.id%>)"> <%= image_tag 'pokeball_icon.png', class:"button_size" %> </button>
                <%= cohort.name %><br>
            </span>
            <% end %>
        <h2>Create New Cohort</h2>
        
            <%= form_with model: Cohort.new do |form| %>
                Name: <%= form.text_field :name,  placeholder: "Cohort Name"%><br>
                Start Date:<%= form.date_field :start_date,  placeholder: "Start date"%><br>
                End Date:<%= form.date_field :end_date,  placeholder: "End date"%><br>
                Course: <%= form.select :course_id,  options_for_select(@courses, @cohort.course_id)%><br>
                <%= form.submit %>
            <% end %>
    </div>

    <div id="edit_cohorts">
        <h1>View Cohorts</h1>
            <%@show=true%>
            <% @cohorts.each do |cohort| %>
                <% @cohort=cohort %>
                <%= render 'edit', {cohort: @cohort}  %>
            <% end %>
    </div>
    <div class="students">
        <div class="enrolled_students">
            <h2>Enrolled Students</h2>
            <% @show=true %>
                <% @cohorts.each do |cohort| %>
                
                <% @cohort=cohort %>

                <%= render 'enrolled_students', {cohort: @cohort}%>

                <% end %>
        </div>
        

        <div class="unenrolled_students">
            <h2>Unenrolled Students</h2>
                <% @show=true %>
            
                <!-- Students_to_select contains all the students that are not already enrolled in the chohort -->
                <% @cohorts.each do |cohort| %>
                    <% students_to_select = @students.dup %>
                    <% cohort.students.each do |student| %>
                        <% for i in 0...students_to_select.length-1 %>
                            <% if student.id == students_to_select[i][1] %>
                                <%students_to_select.slice!(i) %>
                            <% end %>
                        <% end %>
                        <% if students_to_select[-1][1]==student.id%>
                            <%students_to_select=students_to_select[0...-1]%>
                        <%end %>
                    <% end %>

                    <% @cohort=cohort %>
                    <% @students_to_select=students_to_select %>
                    
                    <%= render 'unenrolled_students', {cohort: @cohort, students_to_select: @students_to_select}%>
                    
                <% end %>      
        </div> 
    </div> 
</div>