<%= image_tag 'pikachu.jpg', class:'pikachu'%>

<div class="courses_container">
  <div idc="all_courses">
    <h1>List of Courses</h1>
      <% @courses.each do |course| %> 
        <span id="button_<%=course.id%>"> 
          <button type="button" class='no_border' onclick="displayCourse(<%=course.id%>)"> <%= image_tag 'pokeball_icon.png', class:"button_size" %> </button>
          <%= course.name %><br>
        </span>
      <% end %>
    <h2>Create New Course</h2>
      <%= form_with model: Course.new do |form| %>
        Course: <%= form.text_field :name,  placeholder: "Course Name"%> <br>
        Hours: <%= form.text_field :hours,  placeholder: "Hours"%> <br>
        <%= form.submit %> 
      <% end %>
  </div>

  <div class="edit_courses">
    <h1>View Course</h1>
      <% @show=true %>
      <% @courses.each do |course| %>
        <% @course = course%>
          <%= render 'edit', {course: @course}  %>
      <% end %>
  </div>
</div>
