<%= image_tag 'background.jpg', class:'background_2'%>
<div class="courses_container">
  <div id="all_courses">
    <h1>List of Events</h1>
      <div id="buttons">
      <% @courses.each do |course| %> 
        <span id="button_<%=course.id%>"> 
          <button type="button" class='no_border' onclick="displayCourse(<%=course.id%>)"> <%= image_tag 'medal.png', class:"button_size" %> </button>
          <%= course.name %><br>
        </span>
      <% end %>
      </div>
    <h2>Create New Event</h2>
      <%= form_with model: Course.new do |form| %>
        Event: <%= form.text_field :name,  placeholder: "Event Name"%> <br>
        Training Hours: <%= form.text_field :hours,  placeholder: "Hours"%> <br>
        <%= form.submit "Create Event" %> 
      <% end %>
  </div>

  <div id="edit_courses">
    <h1>View/Edit Event</h1>
      <% @show=true %>
      <% @courses.each do |course| %>
        <% @course = course%>

          <%= render 'edit', {course: @course}  %>
          
      <% end %>
  </div>
</div>
