<!DOCTYPE html>
<html>
  <head>
    <title>Pokemon Academy</title>
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav>
    <a href="/">
      <%= image_tag "pokemon_academy.png", class:'pokemon_academy'%>
    </a>
      <%= link_to 'Courses', courses_path %>
      <%= link_to 'Cohorts', cohorts_path %>
      <%= link_to 'Instructors', instructors_path %>
      <%= link_to 'Students', students_path %>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
