<!DOCTYPE html>
<html>
  <head>
    <title>Gymnastics Academy</title>
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav>
    <a href="/">
      <%= image_tag "logo.png", class:'logo'%>
    </a>
      <%= link_to 'Events', courses_path %>
      <%= link_to 'Teams', cohorts_path %>
      <%= link_to 'Coaches', instructors_path %>
      <%= link_to 'Gymnast', students_path %>
      <%= link_to 'Reset Database', '/reseed_database'%>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
